.content-about {
	padding-top: 12rem;
}
.card {
	width: min(100%, 50rem);
	position: relative;
}

.main-heading {
	display: block;
	position: absolute;
	font-size: 3rem;
	background-color: var(--clr-accent-electro-green);
	padding: 0.5rem 1.4rem;
	color: var(--clr-neutral-700);
	top: -6rem;
	left: -1rem;
	transform: skewY(-5deg);
}

.main-heading::before {
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 1rem;
	left: 1rem;
	z-index: -1;
	background-color: var(--clr-accent-purple-smoke);
}

.main-heading::after {
	display: block;
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: var(--clr-accent-electro-green);
}

.owner-image {
	float: left;
	height: 325px;
	width: auto;
	margin-top: 1.4rem;
	margin-inline: 1rem;
	padding: 0.5rem 0.5rem;
	background-color: var(--clr-neutral-500);
}

.owner-image img {
	height: 100%;
	filter: brightness(0.9);
}

.main-para {
	padding: 1rem 2rem;
	font-size: 1.1rem;
	background-color: var(--clr-neutral-700);
	color: var(--clr-text);
}

.other-para {
	padding: 0.5rem 0rem 0.5rem;
}

.about-button {
	margin-bottom: 1.5rem;
	margin-right: 0rem;
	margin-left: auto;
}

.content-portfolio {
	padding-block: 8rem;
	background-color: var(--clr-neutral-700);
}

.other-heading {
	font-size: 2rem;
	background-color: var(--clr-accent-purple-smoke);
	color: var(--clr-neutral-700);
	position: absolute;
	padding: 0.2rem 1rem;
	top: -2rem;
	left: -1rem;
	transform: skewY(-5deg);
}

.other-heading::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 1rem;
	left: 1rem;
	z-index: -1;
	background-color: var(--clr-accent-electro-green);
}

.other-heading::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: var(--clr-accent-purple-smoke);
}

.proj-card {
	position: relative;
	background-color: var(--clr-neutral-900);
	padding: 1rem;
	padding-top: 3rem;
}

.grid-container {
	display: grid;
	gap: 1rem;
	grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.mini-card {
	height: max-content;
	background-color: var(--clr-neutral-500);
	text-align: center;
	color: var(--clr-neutral-100);
}

.mini-card img {
	padding: 1rem;
	width: 100%;
	transition: transform 0.4s;
}

.mini-card span {
	display: block;
	font-weight: 400;
	margin-block: 0rem;
	font-size: 1.3rem;
	padding: 0rem 3.5rem;
	text-align: center;
}

.projects-button {
	margin-top: 2rem;
	display: block;
	margin-inline: auto;
}

.contact-card {
	background-color: var(--clr-neutral-700);
	padding-top: 2.5rem;
	margin-block: 3.5rem;
}

.card-grid {
	width: min-content;
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	gap: 2rem;
	margin-inline: auto;
	margin-bottom: 2rem;
}

.card-grid .ico {
	color: var(--clr-neutral-900);
	font-size: 4rem;
	padding: 2rem;
}

.invisible {
	width: 100%;
}

.grid-cell {
	position: relative;
	justify-self: center;
	align-self: center;
	overflow: hidden;
	z-index: 1;
	background-color: var(--clr-accent-electro-green);
	margin-inline: 3.5rem;
	transition: color 0.4s ease;
}

.grid-cell:hover .ico {
	color: var(--clr-neutral-100);
	transform: scale(1);
}

.grid-cell::after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	height: 150%;
	width: 150%;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: var(--clr-accent-purple-smoke);
	transition: transform 0.4s ease;
}
.grid-cell:hover::after {
	transform: translate(-50%, -50%) scale(1);
}

.contact-button {
	display: inline-block;
}

.reach-out-div {
	margin-left: 10.5rem;
	display: flex;
	width: 40%;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	align-items: flex-end;
}

@media screen and (max-width: 768px) {
	.content {
		padding-block: 5rem;
		padding-inline: 1rem;
	}

	.content-about {
		padding-top: 3rem;
	}

	.main-heading {
		top: -3rem;
		left: -0.5rem;
		transform: skewY(-5deg);
		font-size: 2.5rem;
	}
	.main-heading::before {
		top: 0.5rem;
		left: 0.5rem;
	}

	.owner-image {
		float: none;
		text-align: center;
		margin: 0;
		height: auto;
	}
	.owner-image img {
		width: 100%;
		height: auto;
	}
	.card {
		margin-top: 2rem;
		padding-top: 2.6rem;
	}
	.main-para {
		padding: 0.5rem;
		padding-top: 0.5rem;
	}
	.other-para {
		padding: 0.5rem 0rem;
	}
	.about-button {
		display: inline-block;
	}

	.mini-card span {
		padding: 0rem 1.5rem;
		font-size: 1rem;
	}
	.mini-card p {
		padding: 0rem 1.5rem;
		font-size: 0.8rem;
	}

	.other-heading {
		font-size: 1.3rem;
		left: -0.5rem;
	}
	.other-heading::before {
		top: 0.5rem;
		left: 0.5rem;
	}

	.proj-card {
		padding-top: 1rem;
		width: 100%;
		margin: 0;
	}

	.card-grid {
		/* grid-template: repeat(2, 1fr) / repeat(2, 1fr); */
		gap: 1rem;
		width: 70%;
	}

	.card-grid .ico {
		font-size: 4rem;
		padding: 2rem;
	}

	.grid-cell {
		margin-inline: 0rem;
	}
	.grid-cell.code i {
		font-size: 3.8rem;
		padding: 2rem 1.8rem;
	}
	.reach-out-div {
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.5rem;
	}
	.contact-button {
		margin-top: 1rem;
	}

	.grid-container {
		grid-template: repeat(6, 1fr) / repeat(1, 1fr);
	}
}

@media (max-width: 550px) {
	.card-grid {
		grid-template: repeat(3, 1fr) / repeat(2, 1fr);
	}
}

@media screen and (min-width: 1600px) {
	.content {
		align-items: center;
	}
}
